@import "tailwindcss";

@theme {
  --font-google-sans: "Google Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-anton: "Anton", sans-serif;
  --font-anta: "Anta", sans-serif;
  --font-bruno-ace: "Bruno Ace SC", sans-serif;
}

@utility font-roboto-italic {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

body {
  margin: 0;
  min-width: 320px;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
